aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/servd/servd
src/servd/messagetest
src/servd/servr
src/servd/stabletest
src/servd/tasktest
src/servd/trietest
src/servd/utiltest
src/stack/Kbuild
src/stack/serval
src/test/nltest
src/test/translator
src/test/tcp_inet_client
src/test/addservice
src/test/migrate
src/test/send_udp_packet
src/test/send_udp_packetn
src/test/recv_udp_packet
src/test/recv_udp_packetn
src/test/bindtest
src/test/bindtestn
src/test/listentest
src/test/listentestn
src/test/udp_client
src/test/udp_clientn
src/test/udp_server
src/test/udp_servern
src/test/tcp_client
src/test/tcp_clientn
src/test/tcp_server
src/test/tcp_servern
src/servd/messagetest
src/servd/stabletest
src/servd/tasktest
src/servd/trietest
src/servd/utiltest
src/servd/servr
src/javasock/classes.list
src/javasock/sources.list
src/javasock/bin/
android/ServalChat/bin/
android/ServalChat/gen/
stamp-h1
#
Makefile.in
.deps/
Makefile
*.[oa]
*.ko
*~
*.mod.c
*.o.cmd
*.ko.cmd
*.symvers
.tmp_versions/
*.order
*.lo
*.la
*.libs
*.class
*.stamp
*.jar
.DS_Store
.project
