aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/scafd/scafd
src/stack/Kbuild
src/stack/scaffold
src/test/send_udp_packet
src/test/nltest
stamp-h1
#
Makefile.in
.deps/
Makefile
*.[oa]
*.ko
*~
*.mod.c
*.o.cmd
*.ko.cmd
*.symvers
.tmp_versions/
*.order

