<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.servalarch.serval"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  	<uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="@string/app_name" >
        <activity 
            android:name="ServalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"
            android:multiprocess="false"
            android:launchMode="singleInstance"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:enabled="true" 
	     	android:exported="true"
	     	android:name=".TranslatorService">
	     </service>

         <receiver android:name=".ConnectivityReceiver">
         	<intent-filter>
            	<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
         </receiver>
    </application>
</manifest> 
